{% extends config.KERKO_TEMPLATE_LAYOUT %}
{% block head %}
{{ super() }}


{% block title %}
<title>
    SCSU Authors
</title>
{% endblock %}
{% endblock %}

{% block content %}
<style>
    body {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/69/Hilton_C._Buley_Library.jpg') !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    main {
        background: transparent;
    }
    .bg-custom {
        background-color: transparent;
    }
    .btn-info {
        background-color: skyblue;
    }
    a:link {
        color: white;
        text-decoration: none;
    }
    a:visited {
        color: white;
        background: skyblue;
        text-decoration: none;
    }
    a:hover {
        color: white;
        text-decoration: underline;
    }
</style>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <H1 style="color: #ffffff; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Currently Hosting<br>{{ total_count }} Resources</H1>
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="blah">
    <br><br><br><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col align-self-end">
                <H1 style="color: #ffffff; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Resource Types</H1>
                <H3><a href="/SCSUAuthors/bibliography/?type=journalArticle&sort=date_desc">Journal Articles</a></H3>
                <H3><a href="/SCSUAuthors/bibliography/?type=book&sort=date_desc">Books</a></H3>
                <H3><a href="/SCSUAuthors/bibliography/?type=conferencePaper&sort=date_desc">Confrence Papers</a></H3>
                <H3><a href="/SCSUAuthors/bibliography/?type=bookSection&sort=date_desc">Book Sections</a></H3>
                <H1><a class="btn btn-info btn-block active" href="/SCSUAuthors/bibliography/" role="button">Explore Our Database</a></H1>
            </div>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}